body{
    font-family: sans-serif;/*字体加粗*/
    background-image: url("网页背景.png");
    background-repeat:no repeat;
    overflow: hidden;
    background-size:cover;"
img{  
    height: auto; 
    width: auto\9;
    width:auto;
}
}

